## Data Analysis with Pandas and Python

### Import the required libraries

In [0]:
import numpy as np
import pandas as pd
from datetime import datetime 
from google.colab import files

### Data

The given .bak file was converted to csv files containing the database tables. Read the csv file into **Pandas DataFrames**.

In [0]:
all_stations_df = pd.read_csv("https://raw.githubusercontent.com/Kaekaefx/Group5_Gather_Predict/master/database_tables_csv/dbo.all_stations.csv")
station_type_df = pd.read_csv("https://raw.githubusercontent.com/Kaekaefx/Group5_Gather_Predict/master/database_tables_csv/dbo.Station_Type.csv")
stations_table_df = pd.read_csv("https://raw.githubusercontent.com/Kaekaefx/Group5_Gather_Predict/master/database_tables_csv/dbo.Stations_table.csv")
province_table_df = pd.read_csv("https://raw.githubusercontent.com/Kaekaefx/Group5_Gather_Predict/master/database_tables_csv/dbo.Province%20Table%20.csv")
province_electrification_df = pd.read_csv("https://raw.githubusercontent.com/Kaekaefx/Group5_Gather_Predict/master/database_tables_csv/dbo.province_electrification.csv")
coal_stations_df = pd.read_csv("https://raw.githubusercontent.com/Kaekaefx/Group5_Gather_Predict/master/database_tables_csv/dbo.coal_stations%20-%20Sheet1.csv")
hydroelectric_stations_df = pd.read_csv("https://raw.githubusercontent.com/Kaekaefx/Group5_Gather_Predict/master/database_tables_csv/dbo.hydroelectric_stations%20-%20Sheet1.csv")

nuclear_stations_df = pd.read_csv("https://raw.githubusercontent.com/Kaekaefx/Group5_Gather_Predict/master/database_tables_csv/dbo.nuclear_stations%20-%20Sheet1.csv")
wind_stations_df = pd.read_csv("https://raw.githubusercontent.com/Kaekaefx/Group5_Gather_Predict/master/database_tables_csv/dbo.wind_stations%20-%20Sheet1.csv")
gas_turbine_stations_df = pd.read_csv("https://raw.githubusercontent.com/Kaekaefx/Group5_Gather_Predict/master/database_tables_csv/dbo.gas_turbine_stations%20-%20Sheet1.csv")
electricity_generated_df = pd.read_csv("https://raw.githubusercontent.com/Kaekaefx/Group5_Gather_Predict/master/database_tables_csv/dbo.electricity_generated.csv")
population_df = pd.read_csv('https://raw.githubusercontent.com/Kaekaefx/Group5_Gather_Predict/master/database_tables_csv/dbo.Population.csv')

year_on_year_change_df = pd.read_csv("https://raw.githubusercontent.com/Kaekaefx/Group5_Gather_Predict/master/database_tables_csv/dbo.year_on_year_change(jan_2015%20-%20jun_2019)%20-%20Sheet1.csv")

### Nuclear Power Stations

In [0]:
nuclear_stations_df_updated = nuclear_stations_df.copy()

# renaming column names according to specs - all lowecase snake 
nuclear_stations_df_updated = nuclear_stations_df.rename({'Power_plant':'power_plant','Province':'province', 'Coordinates':'coordinates', 'Status	': 'status','_Capacity__Megawatt__': 'capacity_MW', '_Date_commissioned_' : 'date_commissioned', '_Annual_output_GWh_':'annual_output_MWh' , 'Capacity_factor__':'capacity_factor'}, axis=1)

# changing from GWh to MWh
nuclear_stations_df_updated['annual_output_MWh'] = nuclear_stations_df_updated['annual_output_MWh']/1000 

# updated table 
nuclear_stations_df_updated.head()

nuclear_stations_df_updated.to_csv(r'nuclear_stations_df_updated')
files.download('nuclear_stations_df_updated')

                     power_plant  ...                 coordinates
0  Koeberg nuclear power station  ...  33°40′35.2″S 18°25′55.37″E

[1 rows x 8 columns]

### Hydroelectric Stations

In [0]:
hydroelectric_stations_df_updated = hydroelectric_stations_df.copy()

# renaming column names according to specs - all lowecase snake 
hydroelectric_stations_df_updated = hydroelectric_stations_df_updated.rename({'Power_plant':'power_plant','Province':'province', 'Coordinates':'coordinates', 'Status': 'status','Operator': 'operator', 'Notes' : 'notes', '_Installed_capacity__planned___Megawatt__':'installed_capacity_planned_MW' , '_Date_commissioned__planned__':'date_commissioned_planned'}, axis=1)

# renaming entries in the province column that have brackets 
hydroelectric_stations_df_updated['province'][0] = 'Limpopo'
hydroelectric_stations_df_updated['province'][9] = 'Free State'

# Getting the commission dates all in the same format
hydroelectric_stations_df_updated['date_commissioned_planned'][0] = np.NaN
hydroelectric_stations_df_updated['date_commissioned_planned'][11] = 2015

# updated table 
hydroelectric_stations_df_updated.head(20)

# should we find the missing information and fill it in or not? 
# Griep dam goes over 2 provinces - issues with third normal form 

nuclear_stations_df_updated.to_csv(r'hydroelectric_stations_df_updated')
files.download('hydroelectric_stations_df_updated')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

                                 power_plant  ...                               notes
0              Tubatse Pumped Storage Scheme  ...  Previously called Project Lima\r\n
1               Ingula Pumped Storage Scheme  ...                                 NaN
2          Drakensberg Pumped Storage Scheme  ...                                 NaN
3                                 Gariep Dam  ...                                 NaN
4              Palmiet Pumped Storage Scheme  ...                                 NaN
5   Steenbras Power Station (Pumped Storage)  ...                                 NaN
6                            Vanderkloof Dam  ...                                 NaN
7               Colley Wobbles Power Station  ...                                 NaN
8              Ncora Dam Ncora Power Station  ...                                 NaN
9                  Sol Plaatje Power Station  ...                                 NaN
10                      Merino Power Station  ...                                 NaN
11                    Kakamas Hydro Electric  ...                                 NaN
12                         Kruisvallei Hydro  ...                                 NaN

[13 rows x 8 columns]

### Gas Turbine Stations

In [5]:
# renaming column names according to specs - all lowecase snake 
gas_turbine_stations_df_updated = gas_turbine_stations_df.rename({'Power_plant':'power_plant','Province':'province', 'Coordinates':'coordinates', 'Status': 'status','Operator': 'operator', 'Notes' : 'notes', '_Installed_capacity__Megawatt__':'installed_capacity_planned_MW' , '_Date_commissioned_':'date_commissioned'}, axis=1) 

# updated table 
gas_turbine_stations_df_updated.head()

# creating new csv file
nuclear_stations_df_updated.to_csv(r'gas_turbine_stations_df_updated')
files.download('gas_turbine_stations_df_updated')

                    power_plant       province  ...    operator  notes
0          Acacia Power Station   Western Cape  ...       Eskom    NaN
1        Ankerlig Power Station   Western Cape  ...       Eskom    NaN
2        Gourikwa Power Station   Western Cape  ...       Eskom    NaN
3  Newcastle Cogeneration Plant  KwaZulu-Natal  ...  IPSA Group    NaN
4        Port Rex Power Station   Eastern Cape  ...       Eskom    NaN

[5 rows x 8 columns]

### Wind Stations

In [37]:
wind_stations_df_updated = wind_stations_df.copy()

# Rename columns - lowercase snake
wind_stations_df_updated = wind_stations_df_updated.rename({'Coordinates':'coordinates', 'Status': 'status','Operator': 'operator', 'Notes' : 'notes', 'Capacity_factor____expected_':'capacity_factor_expected', '_Annual_output_GWh__expected__': 'annual_output_MWh_expected', '_Capacity_MW__planned__': 'capacity_MW_planned', '_Date_commissioned__planned__':'date_commissioned_planned', 'Province':'province', 'Power_plant':'power_plant'}, axis = 1)

# remove extra info in brackets in province column entries 
wind_stations_df_updated['province'][0] = 'Western Cape'
wind_stations_df_updated['province'][1] = 'Western Cape'

# removing extra info in 'status' column entries 
wind_stations_df_updated['status'][0] = 'Decommissioned'

# date_commissioned_planned column needs attention !!! 

# Adding a 'notes' column 
wind_stations_df_updated['notes'] = ['Prototype/Research', np.NaN]

# updated table 
wind_stations_df_updated.head()

# creating new csv file
nuclear_stations_df_updated.to_csv(r'wind_stations_df_updated')
files.download('wind_stations_df_updated')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

            power_plant      province  ... operator               notes
0  Klipheuwel Wind Farm  Western Cape  ...    Eskom  Prototype/Research
1        Sere Wind Farm  Western Cape  ...    Eskom                 NaN

[2 rows x 10 columns]

### Electricity Generated

In [53]:
# create a copy of the table to edit 
electricity_generated_df_updated = electricity_generated_df.copy()

# get rid of the timestamp 
electricity_generated_df_updated['Date(mm-yyyy)'] = [item[:10] for item in electricity_generated_df_updated['Date(mm-yyyy)']]

# Rename the date column 
electricity_generated_df_updated = electricity_generated_df_updated.rename({'Date(mm-yyyy)':'date'}, axis = 1)

# Change the data type to float in the electricity_distributed column by removing the commas in the numbers 
electricity_generated_df_updated = electricity_generated_df_updated.apply(lambda x: x.str.replace(',','.'))
electricity_generated_df_updated["electricity_distributed"] = pd.to_numeric(electricity_generated_df_updated["electricity_distributed"])

# Make sure the date column has the correct data type 
# electricity_generated_df_updated['date'][0] = datetime.strptime(electricity_generated_df_updated['date'][0], '%Y-%m-%d').date()
# print(type(electricity_generated_df_updated['date'][0]))

# updated table 
electricity_generated_df_updated.head(20) 

# creating new csv file
nuclear_stations_df_updated.to_csv(r'electricity_generated_df_updated')
files.download('electricity_generated_df_updated')

    electricity_distributed        date
0                    19.491  2015-01-01
1                    18.902  2016-01-01
2                    18.786  2017-01-01
3                    19.074  2018-01-01
4                    19.099  2019-01-01
5                    17.917  2014-02-01
6                    18.060  2015-02-01
7                    18.167  2016-02-01
8                    17.511  2017-02-01
9                    17.642  2018-02-01
10                   17.472  2019-02-01
11                   19.415  2014-03-01
12                   19.998  2015-03-01
13                   18.910  2016-03-01
14                   19.416  2017-03-01
15                   19.449  2018-03-01
16                   18.910  2019-03-01
17                   18.895  2014-04-01
18                   18.739  2015-04-01
19                   18.504  2016-04-01

### Year on Year change

In [0]:
year_on_year_change_df.head()

  column1  column2  column3  column4  ...  column12  column13  column14  column15
0     Jan      0.2      NaN     -3.0  ...       NaN       NaN       NaN       0.1
1     Feb      0.8      NaN      0.6  ...       NaN       NaN       NaN      -0.4
2     Mar      3.0      NaN     -5.4  ...       NaN       NaN       NaN      -1.2
3     Apr     -0.8      NaN     -1.3  ...       NaN       NaN       NaN      -0.5
4     May     -1.4      NaN     -0.7  ...       NaN       NaN       NaN      -0.7

[5 rows x 15 columns]

### Authors: